* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

:root {
  --primary: hsl(160deg, 100%, 30%);
  --secondary-light: hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --very-dark: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

/* body {
} */

.max-width-wrapper {
  max-width: 780px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

header {
  background-color: var(--white);
  margin-block-start: 96px;
  margin-block-end: 48px;
}

.intro-chunk {
  max-width: 425px;
}

strong {
  color: var(--primary);
}

.title {
  font-size: 2rem;
  margin-inline-start: 16px;
  margin-block-end: 48px;
}

/* .intro-class p {
  font-size: 1.25rem;
} */

p {
  font-size: 1.25rem;
  margin-inline-start: 16px;
}

main {
  background-color: var(--medium);
  padding-block-start: 64px;
  padding-block-end: 64px;
  border-block-start: 8px solid var(--light);
}

.card {
  background-color: var(--white);
  padding-block-start: 8px;
  padding-inline-end: 16px;
  border-block-end: 8px solid var(--light);
}

h2 {
  font-size: 1.5rem;
  background-color: var(--secondary-light);
  width: fit-content;
  margin: 0;
  margin-inline-start: -8px;
  padding-block-start: 8px;
  padding-inline-start: 24px;
  padding-block-end: 8px;
  padding-inline-end: 24px;
  border-block-end: 8px solid var(--secondary-dark);
}

em {
  font-style: normal;
}